<div class="course1">
	<p>Latin dance is a general label, and a term in partner dance competition jargon. It refers to types of ballroom dance and folk dance that (with few exceptions) originated in Latin America.</p>
	<p>The category of Latin dances in the international dancesport competitions consists of the cha-cha-cha, rumba, samba, paso doble, and also the jive of United States origin.[1][2]</p>
	<p>Social Latin dances (Street Latin) include salsa, mambo, merengue, rumba, bachata, bomba, plena, and the Argentine tango. There are many dances which were popular in the first part of the 20th century, but which are now of only historical interest. The Cuban danzón is a good example.[3]</p>
	<p>Perreo is a Puerto Rican dance associated with Reggaeton music with Jamaican and Caribbean influences. Latin folk dances of Argentina include the chacarera, gato, escondido and zamba. Typical Bolivian folk dances are the morenada, kullawada, caporales and the recently created tinku. In Colombia one of the typical dances is the cumbia.</p>
</div>

<style type="text/css">
	.course1 p{
		color: black;
		font-size: 16px;
		text-align: justify; 
	}
</style>