.footer {
	padding: 1.5rem 5rem;

	display: flex;
	justify-content: space-between;

	&__copyright {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&__text,
		&__owner {
			text-align: right;
			
		}
	}


}