
.header {
	height: 100vh;
	background-image: url('../img/background-header.jpg');
	background-size: cover;
	background-position: right;
	position: relative;

	&__nav {
		display: flex;
		align-items: center;
		background-color: $color-gray-1;
		padding: 1.5rem 5rem;

		

		&__list {
			list-style: none;
		}

		&__item {
			display: inline-block;	
		}

		&__link:link,
		&__link:visited {
			margin: .5rem 1rem;
			padding-bottom: .3rem;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.6rem;
			color: $color-white;
			border-bottom: 2px solid transparent;
			transition: all .2s;
			transform-origin: center;

			position: relative;

			.underline {
				position: absolute;
				bottom: -3px;
				left: 0;
				right: 0;
				width: 100%;
				height: 2px;
				transform: scaleX(0);
				display: inline-block;
				border-bottom: 2px solid $color-primary;
				transform-origin: center;
				transition: all .2s;
			}
		}


		&__link:hover,
		&__link:active,
		&__link:focus {
			color: $color-primary;

			.underline {
				transform: scaleX(1);
			}
		}
	}


	.btn {
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}