@media screen and (max-width: 1200px) {

	.section-events {


		&__single {

			flex-direction: column;
			padding-bottom: 0;
			align-items: center;

			&__poster {
				margin: 0;
				order: 1;
				justify-content: center;

				figure {
					width: auto;
					height: auto;
					margin: 2rem 0;
				}
			}

			&__details {
				max-width: 56rem;
				margin-left: 0;
				padding: 0;

			}
		}
	}

}

@media screen and (max-width: 767px) {
	
	.header {


		&__nav {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;

			&__list {
				display: none;
				background-color: $color-gray-1;

				position: absolute;
				top: 100%;	
			}

			&__item {
				display: block;

			}

			&__link:link,
			&__link:visited {
				display: block;
				padding: .5rem 0;
				font-size: 2rem;


				.underline {
					display: none;
				}
			}			
		}
	}

	.mobile-nav-icon {
		display: flex;
	}

	.dropdown {
		&__content {
			display: none;

			top: 4rem;
		}

		&:hover {

			.dropdown__content {
				display: none;
			}
		}
	}	
}


@media screen and (max-width: 380px) {
	.section-contact__item {
		text-align: center;
	}

	.footer {
		flex-direction: column;
		align-items: center;

		.logo-box{
			margin-right: 0;
			margin-bottom: 1.5rem;
		}

		&__copyright {

			&__owner {
				text-align: center;
			}
		}
	}
}