.section-contact {
	padding: 5rem;

	background-color: $color-black;

	&__wrap {
		max-width: 56rem;
		margin: 0 auto;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	

	&__heading {
		color: $color-white;
		margin-bottom: 2.5rem;
	}

	.logo-contact {
		max-width: 100%;
	}

	&__text {
		margin: 2.5rem 0;
		color: $color-white;
		text-align: center;
	}

	&__list {
		list-style: none;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__item:not(:last-of-type) {
		margin: 0 auto 2.5rem auto;
	}

	&__link:link,
	&__link:visited {

		text-decoration: none;
		color: $color-white;
		transition: all .2s;
	}

	&__link:hover,
	&__link:focus {
		color: $color-secondary;
	}
}