.section-about {
	padding: 5rem;
	background-color: $color-white;

	display: flex;
	flex-direction: column;
	align-items: center;

	&__heading {
		color: $color-secondary;
		text-transform: uppercase;
		margin-bottom: 1.5rem;
	}

	&__subheading {
		color: $color-black;
		margin-bottom: 3.5rem;
	}

	&__text {
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 2rem;
		text-align: center;
		text-align: justify;

		max-width: 56rem;

		&--link:link,
		&--link:visited{
			text-decoration: none;
			font-weight: 700;
			color: $color-secondary;
			transition: all .2s;
		}

		&--link:hover,
		&--link:focus{
			color: $color-secondary-light;
		}
	}

	&__text:last-of-type {
		margin-bottom: 3.5rem;		
	}


}