.section-events {

	padding: 5rem 0;
	
	&__heading {
		padding: 2rem 0;
		color: $color-white;
		text-align: center;
		text-transform: uppercase;
		background-color: $color-secondary;
	}

	&__single {
		display: flex;
		justify-content: center;
		padding: 5rem;

		&__poster {
			margin-right: 1.5rem;

			flex: 1 1 50%;
			display: flex;
			justify-content: flex-end;


			figure {
				height: 56rem;
				width: 56rem;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}

		&__details {
			margin-left: 1.5rem;
			padding-right: 15%;
			// max-width: 56rem;

			flex: 1 1 50%;

			display: flex;
			flex-direction: column;
			justify-content: center;

			&__text {
				display: flex;
				justify-content: flex-start;
				margin-bottom: 2rem;
				text-align: justify;
			}
		}
	}

	.btn {
		margin: 0 auto;
		display: table;

		&__link {
			text-transform: uppercase;
		}

		&__link:hover {
			background-color: $color-secondary-light;
			color: $color-white;
		}
	}
}