.content-title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    color: white;
    background: #004c70;
}

#page-about .section-content{
    position: relative;
    width: 100%;
    overflow: hidden;
}

#page-about .section-content .section-content__inner{
    position: relative;
    z-index: 2;
    width: 70%;
    margin: 0 auto;
    padding: 60px 20px;
    color: rgba(255,255,255,0.7);
    background: rgba(0,0,0,0.2);
}

#page-about .section-content .section-content__slider{
    position: absolute;
    width: 100%;
    height: 100%;
}

#page-about .shortcode-container{
    padding-left: 30px;
}

#page-about .shortcode-container .description {
    margin: 20px 0;
}

#page-about .shortcode-container .description-items{
    padding-left: 40px;
}

#page-about .subtitle{
    color: silver;
}

#page-about #ninja-slider ul{
    background: #111;
}