.section-error{
    top: 30%;
    position: absolute;
    padding: 100px 300px;
    left: calc(50% - 390px);
    background: rgba(0,0,0,0.4);
    color: white;
}

.section-error__error{
    font-size: 2em;
}