#events-content{
    padding: 20px 100px;
    margin: 0 auto;
}

#events-content .row{
    margin-bottom: 20px;
    display: flex;
}

#events-content .row .col{
    flex: 1 1 50%;
    padding: 20px;
}

#events-content .event-image{
    max-width: 100%;
}

#events-content .event-prop{
    font-weight: bold;
    font-size: 16px;
}