#tutorial-content{
    display: flex;
}

#tutorial-content{
    overflow: hidden;
}

#tutorial-content .video{
    flex: 1 1 70%;
    width: 70%;
    height: auto;
    position: relative;
    top: 0;
    transition: top 1s ease-in-out;
}

#tutorial-content .video-container{
    width: 100%;
    position: relative;
}

#tutorial-content .video-container iframe{
    margin: 0 auto;
    display: block;
}

#tutorial-content .right-bar{
    flex: 1 1 30%;
    width: 30%;
    background: #F2F3F5;
}

.course-description{
    width: 100%;
    padding: 10px 20%;
    text-align: justify;
    background: #e8e8e8;
    border-bottom: 1px solid silver;
}

.course-description-text{
    font-size: 18px;
    font-weight: bold;
}

#tutorial-content .right-bar .contents{
    list-style: none;
    margin: 0;
    padding: 2%;
}

#tutorial-content .content-item{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    cursor: pointer;
}

#tutorial-content .content-item:hover{
    background: #fcfcfc;
}

#tutorial-content .content-item:not(:last-child){
    border-bottom: 1px solid silver;
}

#tutorial-content .content-item .content-item-icon{
    flex: 1 1 10%;
    text-align: center;
}

#tutorial-content .content-item .content-item-name{
    flex: 1 1 90%;
}

#tutorial-content .content-item .content-item-name h4{
    margin-top: 10px;
    margin-bottom: 0;
}

#tutorial-content .content-item .content-item-name p{
    margin-bottom: 10px;
}

#tutorial-content .lesson{
    padding: 30px 50px;
}

#tutorial-content .lesson .title{
    border-bottom: 1px solid silver;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#tutorial-content .lesson .title .wrapper{
    background-color: #eee;
    padding: 10px;
}

#tutorial-content .lesson .title .subheader{
    color: gray;
}

#tutorial-content .steps-container{
    position: absolute;
    bottom: 200px;
}

#tutorial-content .steps-container .footstep{
    width: 30px;
    position: absolute;
}