#tutorial-content h2{
    color: black;
}

#tutorial-content .course-title{
    margin-bottom: 0;
}

#tutorial-content .course-description{
    color: silver;
}

#tutorial-content .course-title,
#tutorial-content .course-description{
    text-align: center;
}

#tutorial-content .video{
    flex: 1 1 70%;
    background: #13171C;
    width: 70%;
    height: 550px;
}

#tutorial-content .right-bar{
    flex: 1 1 30%;
    background: #F2F3F5;
    width: 30%;
    height: 550px;
}

#tutorial-content .right-bar .contents{
    list-style: none;
    margin: 0;
    padding: 2%;
}

#tutorial-content .content-item{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    cursor: pointer;
}

#tutorial-content .content-item:hover{
    background: #fcfcfc;
}

#tutorial-content .content-item:not(:last-child){
    border-bottom: 1px solid silver;
}

#tutorial-content .content-item .content-item-icon{
    flex: 1 1 10%;
    text-align: center;
}

#tutorial-content .content-item .content-item-name{
    flex: 1 1 90%;
}

#tutorial-content .content-item .content-item-name h4{
    margin-top: 10px;
    margin-bottom: 0;
}

#tutorial-content .content-item .content-item-name p{
    margin-bottom: 10px;
}