



//SECTION ABOUT
.section-about {

	&__heading {
		font-size: 4.2rem;
		font-weight: 300;
	}

	&__subheading {
		font-size: 1.6rem;
		font-weight: 700;
	}

	&__text {
		font-size: 1.6rem;
	}
}


//SECTION EVENTS 

.section-events {

	&__heading {
		font-size: 2.8rem;
	}

	&__single {
		&__details{
			&__text {
				font-size: 1.8rem;
			}
		}
	}

	.btn {
		&__link {
			font-size: 1.4rem;
		}
	}
}

//SECTION CONTACT

.section-contact {

	&__heading {
		font-size: 2rem;
		text-transform: capitalize;
		font-family: "Opens Sans", sans-serif;
	}

	&__text {
		font-size: 1.4rem;
		font-family: "Opens Sans", sans-serif;
		line-height: 2.5rem;
	}
}


//SECTION EVENTS 

.footer {
	&__copyright {
		&__text {
			font-size: 2rem;
			font-weight: 700;
		}

		&__text,
		&__owner {
			color: $color-gray-2;
		}

	}
}