.prefixed-header{
	position: fixed;
    top: 0;
    left: 0;
	transform: translateY(-100%);
}


.fixed {  
    background-color: $color-gray-1;
    width: 100%;
    z-index: 99;
    transform: translateY(0);
    position: fixed;
	top:0;
	left:0;
	transition: all .3s ease-out;
    // position: fixed;
    // top: 0;
    // left: 0;
}



