.btn {
	font-size: 2rem;
	color: $color-white;
	background-color: $color-secondary;
	line-height: 2rem;
	border: none;
	border-radius: 2.5rem;

	&__link:link,
	&__link:visited {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 1.2rem 3.5rem;
		color: $color-white;
		text-decoration: none;
		border-radius: 2.5rem;
		transition: all .2s;
	}

	&__link:hover,
	&__link:focus {
		background-color: $color-white;
		color: $color-secondary;
	}
}