.dropdown {
	position: relative;

	.fa {
		margin-left: 3px;
		transition: transform .2s;
	}

	&__content {
		position: absolute;
		bottom: -8.2rem;
		transition: all .2s;
		transition-origin: top;
		list-style: none;

		display: none;

		&__item {
			backface-visibility: hidden;
			background-color: $color-gray-1;
			width: 15rem;
			padding: .8rem 1.5rem;
			text-align: center;
		}
	}

	&:hover {

		.dropdown__content {
			display: block;
		}
	}
}