.mobile-nav-icon {
	

	padding: .5rem;
	border: 2px solid $color-primary;
	outline: $color-primary;
	height: 3rem;
	cursor: pointer;
	border-radius: 4px;
	background-color: $color-gray-1;

	

	
	flex-direction: column;
	justify-content: space-between;

	display: none;

	&__bar {
		margin: 0 auto;
	    display: block;
	    width: 30px;
	    height: 2px;
	    background-color: $color-primary;
	    border-radius: 4px;
	    transition: all 0.2s;

	}
}