

//Colors

$color-primary: #E5097F;

$color-secondary: #004c70;
$color-secondary-light: #0079b4;


$color-white: #ffffff;
$color-white-1: #f1f1f1;

$color-black: #000000;


$color-gray-1: #111111;
$color-gray-2: #777777;


//Grid

//Gutter
$grid-width: 95vw;
$gutter-horizontal: 3rem;
$gutter-vertical: 3rem;